header{
	background-color: #ffffff;
}
nav{
	background-color: #72a9ae;
}
body{
	background-image: url(../img/background.png);
}
footer{
	background-color: #454545;
}
main{
	padding: 0px 50px;
}
h1, h2, h3, thead{
	color: #72a9ae;
}
h1{
	font-family: 'boldfingerregular', sans-serif;
}
h2, h3, h4, p, th, label, li{
	font-family: 'Roboto', sans-serif;
}
h4, .quicklinks a, .address p{
	color:#ffffff;
}
label{
	display: inline-block;
	width: 20%;
	padding-bottom: 15px;
}
.final_nav ul{
	list-style-type: none;
	padding: 10px;
}
.final_nav li{
	display: inline;
}
/*THIS is my CSS transition. It was listed that
 I needed to include a transition*/
.nav_element:hover {
	background-color: #ffffff;
}
.nav_element{
	color: #000000;
	text-decoration: none;
	padding: 10px;
}
.main_content{
	max-width: 100%;
}
img{
	width: 300px;
	height: 200px;
	float: right;
	display:inline-block;
	vertical-align: top;
}
table{
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}
th{
	border: 1px solid black;
	padding: 10px 0px
}
tbody tr:nth-child(odd){
	background-color: #efefef;
}
select, input{

}
.e_profile{
	float: left;
	display: inline-block;
	width: 40%;
	margin: 20px;
}
.submit_btn{
	float: right;
}
.i_profile{
	float: right;
	display: inline-block;
	width: 40%;
	margin: 20px;
}
.profile_div{
	border: 1px solid black;
	border-style: outset;
	width: 60%;
	height: 50px;
}
.profile_img{
	width: 100px;
	height: 100px;
	float: left;
}
.mail{
	width: 100px;
	height: 50px;
}
.quicklinks{
	text-align: center;
	float: left;
	width: 30%;
}
.social{
	text-align: center;
	width: 30%;
	display: inline-block;
}
.social img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 30px;
	padding: 0px 4px;
}
.address{
	text-align: center;
	display: inline-block;
	float: right;
	width: 30%;
}
.quicklinks ul{
	list-style-type: none;
}
.quicklinks li{
	padding: 5px;
}
.clearfix::after{
	content:"";
	clear: both;
	display:table;
}